{% extends "base.html" %}
{% block content %}
<header class="jumbotron bg-white">
    <div class="container">
                    <h1 class="h1"> Welcome to <strong class="display-4">Django Blogiee</strong></h1>
                    <p class="h4">A Django based Blog &nbsp</p>
                </div>
</header>
<div class="container">
<h2 class="text-center">Features of this blog</h2>
<ul class="list-group">
  <li class="list-group-item">Django Summernote Editor</li>
  <li class="list-group-item">Django Admin Honeypot</li>
  <li class="list-group-item">Django OTP with QRcode</li>
  <li class="list-group-item">Progressive Web App</li>
  <li class="list-group-item">Custom Admin Dashboard</li>
  </ul>
</div>
{% endblock content %}
